/.dapper
/bin
/dist
*.swp
.vscode
.env
/package/*
!/package/Dockerfile
.bash_history

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

!/.vscode/settings.json
__pycache__
jupyterhub_cookie_secret
jupyterhub.sqlite
public.pem
